* {
    box-sizing: border-box;
    margin: 0;
}

/* 
    GRID 
    
    Es una caracteristica del lenguaje que nos permite establecer estrcturas ya sea de columnas,
    filas o una combinacion de ambas (una grilla).
*/

.container {
    width: 500px;
    height: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 40px;
}

.box {
    background-color: gray;
    border: 1px solid white;
    color: white;
}


/* 
    MEDIA QUERIES 

    Es una caracteristica que nos permite establecer nuevos valores para las propiedades de nuestros selectores
    en cada dispositivo en que deseemos mostrar nuestro sitio o aplicacion.
*/

/****** MOBILE ******/
.page {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    & section {
        background-color: RED;
        border: 2px solid white;
    }
}

/****** TABLET *****/
@media screen and (min-width: 768px){
    .page {
        grid-template-columns: repeat(2, 1fr);
    
        & section {
            background-color: blue;
        }
    }
}

/****** DESKTOP/LAPTOP *****/
@media screen and (min-width: 1400px){
    .page {
        grid-template-columns: repeat(4, 1fr);
    
        & section {
            background-color: green;
        }
    }
}